{% extends 'main/base_template.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div>
    <div class="history-order__body">
        <div class="main__nav">
                <a href="{% url 'cart:cart_detail' %}"  class="categoies_selected a_button">Корзина</a>
                <a href="" class="a_button">История заказов</a>
                <a href="{% url 'cart:order_reserve' %}" class="a_button">Бронирование</a>
        </div>
        <div>
        {% if orders|length > 0 %}
            <div class="hist-table">
            <table>
                <tr>
                    <th>Номер заказа</th>
                    <th>Дата оформления</th>
                    <th>Описание</th>
                    <th>Адрес доставки</th>
                    <th>Оплата</th>
                    <th>Товары</th>
                </tr>
                <tr class="hist-more-info">
            {% for order in orders %}
                    <td><a href="." id="{{ order.id }}"><button>{{ order.id }}</button></a></td>
                    <td><a href="." id="{{ order.id }}">{{ order.ord_date_created }}</a></td>
                    <td><a href="." id="{{ order.id }}">{{ order.ord_description }}</a></td>
                    <td><a href="." id="{{ order.id }}">{{ order.ord_address_delivery }}</a></td>
                    <td><a href="." id="{{ order.id }}">
                        {% if order.ord_paid %}Оплачен
                        {% else %}Не оплачен
                        {% endif %}
                        </a>
                    </td>
                    <td style="display: block">
                        {% for orderitem in order.linkorder.all %}
                            <p style="font-size: 14px; width: 150px"> {{ orderitem.ordit_product.prod_title }} {{ orderitem.ordit_quantity }}шт
                                <script>rez={{ orderitem.ordit_price }} * {{ orderitem.ordit_quantity }}; document.write(rez)</script>₽</p><br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </table>
            </div>
        </div>
    </div>
    <div style="display: flex; align-items: center; justify-content: center; padding-top: 20px">
        {% include 'categories/paginator.html' with page=posts %}
    </div>
</div>
    {% else %}
    <div class="cart_zero-items" style="width: 800px">
        <p>История отсутствует</p>
    </div>
    {% endif %}

{% endblock %}