{% extends 'main/base_template.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="body">
    <div style="display: flex; gap: 40px;  width: 100%">
        <div class="filters__list">
            <div class="filters__block" style="padding-bottom: 30px;">
                <h6>Категории</h6>
                <ul class="filters__list-item">
                    <li class="filters__list-link">
                        <a href="{% url 'magazine_catalog' %}">Все</a>
                    </li>
                    <li class="filters__list-link">
                        <a href="{% url 'books' %}">Книги</a>
                    </li>
                    <li class="filters__list-link">
                        <a href="{% url 'magazines' %}">Журналы</a>
                    </li>
                    <li class="filters__list-link">
                        <a href="{% url 'textbooks' %}">Учебники</a>
                    </li>
                </ul>
            </div>
            <form action="" method="GET" class="form__filter">
            <div class="filters__block">
                <div class="filter__form">
                    {{ form }}
                </div>
            </div>
            <button type="submit" style="margin-top: 10px; font-size: 14px; display: flex; justify-content: center">Применить</button>
            </form>
        </div>
        <div class="body__products">
        {% for product in filter %}
            <a href="{% url 'product_info' product.slug %}" class="product_cart">
            <form action="{% url 'cart:cart_add' product.id %}" method="post" class="products__form">
                {% csrf_token %}
                <div class="products__top">
                    {% for photo in product.photos.select_related %}
                        <img src="{{ photo.photo_link.url }}" class="product__photo" alt="Фотография товара">
                    {% empty %}
                        <img src="{% static 'cart/img/no_image.png' %}" class="product__photo" alt="Фотография товара">
                    {% endfor %}
                </div>
                <h5>{{ product.prod_title }}</h5>
                <div class="product__buy">
                    {% if product.prod_quantity_on_stock > 0 %}
                        <div style="display: none;"><p>{{ cart_product_form }}</p></div>
                        <p>{{ product.prod_price }}₽</p>
                        {% if user.is_authenticated %}
                            <button type="submit">Купить</button>
                        {% else %}
                            <a class="a_button" href="{% url 'login' %}">Купить</a>
                        {% endif %}
                    {% else %}
                        <a>Товар закончился</a>
                    {% endif %}
                </div>
            </form>
            </a>
        {% endfor %}
        </div>
    </div>
    <div style="display: flex; align-items: center">
    {% include 'categories/paginator.html' with page=posts %}
    </div>
</div>
{% endblock content %}